{
    "trello_board_id": "KEY",
    "trello_app_key": "KEY",
    "trello_bot_token": "KEY",
    "toggl_api_key" : "KEY",
    "toggl_workspace": "KEY",
    "toggl_users": {
        "USER_ID_#1": "USER1 FULLNAME",
        "USER_ID_#2": "USER2 FULLNAME"
    }
}